@model WorldWideWat.IffyLink.Models.IffifyModel

<h3>Welcome!</h3>

@using (Html.BeginForm("Iffify", "Home", FormMethod.Post))
{
    @Html.TextBoxFor(m => m.Link, new { placeholder = "change this"})
    
    @Html.TextBoxFor(m => m.Alias, new { placeholder = "to this" })
    <input type="submit" value="Shorten"/>
}